body {
  font-family: "Jua", sans-serif;
  background-color: ;
  background-image: linear-gradient(120deg, #acc9f5 0%, #b8acc2 100%);
  color: #c68883;
  text-transform: capitalize;
}

form {
  display: block;
  margin: 0 auto;
  text-align: right;
}

p {
  font-size: x-small;
  margin: 0;
}

h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.row {
  margin: 0;
}

.city-divert {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
}

.btn {
  margin-top: 5px;
  font-size: 0.9rem;
}
.form-group .form-control {
  text-align: right;
}
.card {
  padding: 0;
}
.card-body {
  padding: 13px;
}
.current {
  color: #a15e59;
  margin-bottom: 5px;
}
.current-variables h6 {
  font-size: 0.95rem;
}
.current-location {
  background-image: linear-gradient(to left, #aacefd 0%, #baa7b9 100%);
  text-align: right;
}
.current-temp {
  background-image: linear-gradient(to left, #baa7b9 0%, #aacefd 100%);
}

.c-footer {
  margin-top: 16px;
}

.app-wrap {
  max-width: 650px;
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-image: linear-gradient(to left, #abcbf7 0%, #afc2e9 100%);
}

.current-wrapper {
  margin-bottom: 20px;
}
.forecast-wrapper {
  max-width: 600px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 2%;
  background-image: linear-gradient(120deg, #b1bee1 0%, #acc9f5 100%);
}

#forecast {
  text-align: center;
  font-size: 0.9rem;
}
.icon {
  width: 40px;
  height: auto;
}
#icon {
  width: 80px;
  height: auto;
}
.hours-forecast {
  padding: 0, 9;
  line-height: 1;
}
#forecast-temp {
  color: #a15e59;
  font-weight: bold;
  margin-top: 0.1rem;
}
.footer {
  margin: 15px;
}
